.title{
	text-align: center;
}

.table{
	align-content: center;
	border-style: solid;
	top: 150px;
	left: 300px;
	width: 50%;
	cursor: pointer;
	position: absolute;
	padding: 12px 8px 12px 40px;
	background: #eee;
	font-size: 20px;
	transition: 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	background: #e88b8b;
	user-select: none;
}


.table:hover {
    background: #aaa;
}

.table tr td{
	width: 500px;
}

ul{
	margin: 0;
	padding: 0;
}

.list{
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
